<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
</head>
<body>
    <a href="/categorias/create">Crear categoría</a> | <a href="/logout">Salir</a>
    <h1>Categorías</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <td>
                        <a href="/categorias/<%= row.dataValues.id %>"><%= row.dataValues.id %></a>
                    </td>
                    <td><%= row.dataValues.nombre %></td>
                    <th>
                        <a href="/categorias/<%= row.dataValues.id %>/edit">Editar</a>

                        <form style="display: inline-block;" action="/categorias/<%= row.dataValues.id %>?_method=DELETE" method="POST">
                            <button type="submit">Borrar</button>
                        </form>
                    </th>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>